streamlit==1.32.0
groq
langchain
chromadb==0.4.24
sentence-transformers==2.2.2
pymupdf==1.22.5
deep-translator
python-dotenv
requests
pillow==9.5.0
langchain-community
pytesseract
langchain-core
langchain-text-splitters